<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/login.js"></script>
  </head>
  <body>
    <div class="container" style="font-size:small">
      <div class="header">
        <nav>
              <ul class="nav nav-pills pull-right">
     <li role="presentation" ><a href="showAdmin">Dashboard</a></li>
              <li role="presentation" ><a href="showAdminMachines">Machines</a></li>
            <li role="presentation" ><a href="showAdminOrder">Orders</a></li>
            <li role="presentation"><a href="showAdminCustomers">Customer</a></li>
            <li role="presentation"><a href="showAdminCSP">CSP</a></li>
                          <li role="presentation"><a href="showAdminOffer">Offers</a></li>
                   <li role="presentation" class="active"><a href="showAdminBilling">Billing</a></li>
				    <li role="presentation" ><a href="showAdminComplaints">Complaints</a></li>
                 <li role="presentation" ><a href="showAdminProfile">Profile</a></li>
				<li role="presentation" ><a href="/">Logout</a></li>
          </ul>
        </nav>
        <h4 class="text-muted">Admin Dashboard</h4>
      </div>

      <div class="jumbotron">
        <h2> <b>Cloud Aggregator</b></h2>
            <h3>Customer Bills</h3>

          <table class="table table-bordered">

        <thead class = "table-dark">

            <tr>
                <th>Customer_Id</th>
                <th>Name</th>
                <th>Bill_Id</th>
                 <th>For_Month</th>
                <th>For_Year</th>
                 <th>Amount</th>
                 <th>Is_Paid</th>
            </tr>

        </thead>


        <tbody>
            <tr>
                <td>1</td>
                <td>John</td>
               <td>18</td>
                <td>123456789</td>
                <td>12</td>
                <td>50</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Peter</td>
                <td>18</td>
                <td>123456789</td>
                <td>12</td>
                <td>20</td>
                  <td><button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModa1Remind">Remind</button> </td>
            </tr>
            <tr>
                <td>3</td>
                <td>John</td>
                <td>18</td>
                <td>123456789</td>
                <td>12</td>
                <td>200</td>
                  <td>Yes</td>
            </tr>

        </tbody>
		</table>

<div class="panel panel-danger">
                <div class="panel-heading" ><h4> </h4> </div>

   </div>



            <h3>CSP Bills</h3>

          <table class="table table-bordered">

        <thead class = "table-dark">

            <tr>

                  <th>CSP_Id</th>
                <th>Name</th>
                <th>Bill_Id</th>
                 <th>For_Month</th>
                <th>For_Year</th>
                 <th>Amount</th>
                 <th>Is_Paid</th>


            </tr>

        </thead>


        <tbody>
            <tr>
                <td>1</td>
                <td>John</td>
               <td>18</td>
                <td>123456789</td>
                <td>12</td>
                <td>150</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Peter</td>
                <td>18</td>
                <td>123456789</td>
                  <td>12</td>
                <td>100</td>
                <td><button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal1">Pay Bill</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>John</td>
                <td>18</td>
                <td>123456789</td>
                  <td>20</td>
                <td>100</td>
                <td>Yes</td>
            </tr>

        </tbody>
		</table>






        <!-- Modal for Pay Bill -->
        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="padding-top: 10px"><b>Pay Bill</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form style="padding: 20px;" class="placeOrderForm">
                        <div class="form-group row">
                            <label for="id" class="col-4 col-form-label">CSP_Id*</label>
                            <div class="col-8">
                                <input id="id" value="" name="CSP_Id" placeholder="Enter CSP_Id" class="form-control here" type="number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="bill_id" class="col-4 col-form-label">Bill_Id*</label>
                            <div class="col-8">
                                <input id="bill_id" name="bill_id" value="" placeholder="Enter bill_id" class="form-control here" type="Number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="amount" class="col-4 col-form-label">Bill Amount*</label>
                            <div class="col-8">
                                <input id="amount" name="amount" value="" placeholder="Enter bill amount" class="form-control here" type="number" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="month" class="col-4 col-form-label">For_Month</label>
                            <div class="col-8">
                                <input id="month" name="discount" value="" placeholder="Enter month" class="form-control here" type="text">
                            </div>
                        </div>
                          <div class="form-group row">
                            <label for="year" class="col-4 col-form-label">For_Year</label>
                            <div class="col-8">
                                <input id="year" name="year" value="" placeholder="Enter year " class="form-control here" type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button name="submit" type="submit" class="btn btn-primary btn-sm placeOrder" data-dismiss="modal">Pay</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>





         <!-- Modal for Remind Bill -->
          <div class="modal fade" id="myModa1Remind" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="padding-top: 10px"><b>Remind Bill</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form style="padding: 20px;" class="placeOrderForm">
                        <h3>An email has been sent with reminder</h3>






                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



<div style="padding-top: 15px">

   <div class="panel panel-danger">
                <div class="panel-heading" ><h4> </h4> </div>

   </div>
</div>





      <footer class="footer">
        <p>&copy; CMPE 226</p>
      </footer>
    </div>
  </body>
</html>