<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/login.js"></script>
  </head>
  <body>
    <div class="container" style="font-size:small">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" ><a href="showCustomerAccountDisplay">Dashboard</a></li>
            <li role="presentation" ><a href="showOrderHistory">Order History</a></li>
            <li role="presentation"><a href="showBilling">Billing</a></li>
            <li role="presentation" class="active"><a href="showProfile">Profile</a></li>
			    <li role="presentation" ><a href="showHelp">Help</a></li>
				<li role="presentation" ><a href="/">Logout</a></li>
          </ul>
        </nav>
        <h4 class="text-muted">Customer Dashboard</h4>
      </div>

      <div class="jumbotron">
        <h2> <b>Welcome Customer Name</b></h2>


          <div class="col-md-12">
		                    <h4>Your Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form>
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Name*</label>
                                <div class="col-8">
                                  <input id="username" name="username" placeholder="name" class="form-control here" required="required" type="text">
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email*</label>
                                <div class="col-8">
                                  <input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="website" class="col-4 col-form-label">Join Date</label>
                                <div class="col-8">
                                  <input id="website" name="website" placeholder="website" class="form-control here" type="date">
                                </div>
                              </div>
								<div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">Bank Account Number</label>
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="Bank account number" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">New Password</label>
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                </div>
                              </div>
                            </form>
		                </div>
		            </div>




      </div>
      <footer class="footer">
        <p>&copy; CMPE 226</p>
      </footer>
    </div>
  </body>
</html>